/tests/.pytest_cache/
/tests/__pycache__
/tests/geckodriver.log
/venv/
*.gitss/
.idea/
.DS_Store
*.iml
/selene.egg-info/
/dist/
*.pyc
*.pyo
*.swp
*.class
*.orig
.cache
build
.coverage
geckodriver.log
/skip-covered/
/python_2_1/
README.rst
/test/.pytest_cache/


